<h1 id="account-management-title"><%- title %></h1>

<p><%- messages() %></p> 

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <% if (locals.loggedin) { %>
    <div id="account-management-div">
    <h2>Welcome <%- locals.accountData.account_firstname %>!</h2>
    <p>You're logged in.</p>
    <p><a href="/account/edit-account">Edit Account Information</a></p>

    <% if (locals.accountData.account_type == 'Employee' || locals.accountData.account_type == 'Admin') { %>
      <h2>Inventory Management</h2>
      <p><a href="/inv/management">Manage Inventory</a></p>

    <div id="user-reviews-div">
      <h2>Your Inventory Reviews</h2>
    </div>
    </div>
   <% } %>
  <% } else { %>
  <a title="Click to log in" href="/account/login">Click to log in!</a>
  <% } %>

