<h1><%- title %></h1>

<p><%- messages() %></p> 


<form action="/account/register" method="post" class="form" id="registration-form">
    <div class="form-inputs">
        <label for="account_firstname">First Name:</label>
        <input name="account_firstname" type="text" required>
        <label for="account_lastname">Last Name:</label>
        <input name="account_lastname" type="text" required>
        <label for="account_email">Email:</label>
        <input name="account_email" type="email" required>
        <label for="account_password">Password:</label>
        <input name="account_password" type="text" required>
</div>
    <button type="submit">REGISTER</button>
</form>