:root {
  --heading-color: #1C3A4A;
  --primary-background-color: #F0F6FA;
  --accent-text-color: #3B6987;
  --accent-color-1: #5A98C4;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

header a:visited {
  color: var(--heading-color);
}

.siteName a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--heading-color);
}

#tools a {
  text-decoration: none;
  color: var(--heading-color);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px 10px 0px;
  margin: 10px;
  background-color: var(--heading-color);
  a {
    color: var(--primary-background-color);
    text-decoration: none;
  }
}

#delorean-banner {
  position: relative;
  max-width: 100%;
}

#delorean-banner div {
  position: absolute;
  background-color: rgba(255, 255, 255, .75);
  color: var(--accent-text-color);
  font-weight: bold;
  padding: 10px;
  top: 10px;
  left: 10px;
}

#delorean-banner img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#delorean-banner ul {
  list-style: none;
  padding: 0px;
}

#delorean-banner #button-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#delorean-banner button {
  width: 100px;
  padding: 0px;
  margin: 0px;
  border: none;
}

#delorean-reviews ul {
  line-height: 2rem;
}

#delorean-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}

#delorean-upgrades h3 {
  grid-row: 1;
  grid-column: 1/3;
}

#delorean-upgrades div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 5px;
}

#delorean-upgrades span {
  width: 100%;
  background-color: var(--accent-color-1);
  text-align: center;
  height: 100%;
  align-content: center;
  border: solid var(--heading-color);
}

#flame-decals {
  grid-column: 2;
}

#hub-caps {
  grid-column: 2;
}

@media screen and (min-width: 500px) {

html {
  background-image: url("/images/site/small_check.jpg");
  background-size: cover;
}


body {
  background-color: white;
  border: solid var(--accent-color-1);
  border-width: thick;
  border-radius: .5rem;
  padding: 15px;
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 5fr;
}

main h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0px;
  margin: 10px;
}

#delorean-banner {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}

#delorean-banner div {
  width: 200px;
  
}

#delorean-upgrades {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 5px;
}

#delorean-upgrades h3 {
  padding-left: 5px;
}

#delorean-reviews {
  grid-column: 2/3;
  padding: 10px;
}

#delorean-reviews ul {
  padding: 15px;
}

h3 {
  padding: 0px;
}


}