:root {
  --heading-color: #1C3A4A;
  --primary-background-color: #F0F6FA;
  --accent-text-color: #3B6987;
  --accent-color-1: #5A98C4;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

header a:visited {
  color: var(--heading-color);
}

.siteName a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--heading-color);
}

#tools a {
  text-decoration: none;
  color: var(--heading-color);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px 10px 0px;
  margin: 10px;
  background-color: var(--heading-color);
}
nav ul a {
  color: var(--primary-background-color);
  text-decoration: none;
}

#delorean-banner {
  position: relative;
  max-width: 100%;

}
#delorean-banner div {
  position: absolute;
  background-color: rgba(255, 255, 255, .75);
  color: var(--accent-text-color);
  font-weight: bold;
  padding: 10px;
  top: 10px;
  left: 10px;
}

#delorean-banner img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#delorean-banner ul {
  list-style: none;
  padding: 0px;
}

#delorean-banner #button-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  }

#delorean-banner button {
  width: 100px;
  padding: 0px;
  margin: 0px;
  border: none;
}

#delorean-reviews ul {
  line-height: 2rem;
}

#delorean-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;

}
#delorean-upgrades h3 {
  grid-row: 1;
  grid-column: 1/3;
}

#delorean-upgrades div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 5px;
}

#delorean-upgrades span {
  width: 100%;
  background-color: var(--accent-color-1);
  text-align: center;
  height: 100%;
  align-content: center;
  border: solid var(--heading-color);
}

#flame-decals {
  grid-column: 2;
}

#hub-caps {
  grid-column: 2;
}

/* Inventory Page */

#inv-display {
  list-style: none;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}
#inv-display li {
  border-radius: 10px;
  justify-items: center;
  text-align: center;
  border: solid lightgray;
  margin: 10px;
  width: 200px;
  
}
#inv-display li img {
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}
#inv-display li .namePrice {
  width: 100%;
}

/* Detail Page */

#product-detail-grid img {
  max-width: 100%;
}
#product-detail-grid h3 {
  padding-left: 10px;
}
#product-detail-grid #product-description {
  padding-left: 10px;
}

/* Login Screen  */

.form {
  background-color: var(--heading-color);
  color: white;
  padding: 10px 20px;
  grid-column: 1/3;
  margin: 50px 20px;
  text-align: center;
  border-radius: 20px;
  border: solid var(--accent-color-1);
  border-width: 10px;
}

.form-inputs {
  padding: 20px;
  text-align: left;
}

.form a {
  color: white;
}

.form label {
  font-weight: normal;
  display: block;
  padding-top: 10px;
}

.form input {
  width: 100%;
  height: 1.75rem;
}

.form button {
  display: block;
  margin: 10px auto;
  padding: 5px 20px;
  border-radius: 20px;
}

.form p {
  display: block;
  text-align: center;
}

/* Inventory Management Page */
#inv-management-div h2 {
  /* text-align: center; */
  padding-bottom: 5px;
  margin-left: 0px;
  border-bottom: solid var(--accent-color-1);
}

#inv-management-div #classificationList {
  margin-bottom: 10px;
}

#inv-management-div td {
  padding: 5px;
}

#inv-management-div th {
  text-align: left;
}

@media screen and (min-width: 700px) {
  
  html {
    background-image: url("/images/site/small_check.jpg");
    background-size: cover;
  }
  
  
  body {
    background-color: white;
    border: solid var(--accent-color-1);
    border-width: thick;
    border-radius: .5rem;
    padding: 15px;
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 5fr;
  }
  
  main h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 0px;
    margin: 10px;
  }
  
  #delorean-banner {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
  }
  #delorean-banner div {
    width: 200px;
  }
  
  
  #delorean-upgrades {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 5px;
  }
  #delorean-upgrades h3 {
    padding-left: 5px;
  }
  
  #delorean-reviews {
    grid-column: 2/3;
    padding: 10px;
  }
  #delorean-reviews ul {
    padding: 15px;
  }
  
  h3 {
    padding: 0px;
  }
  
  h1 {
    grid-column: 1/3;
    grid-row: 1/4;
  }
  
  #inv-display {
    margin-top: 100px;
    margin-left: 0px;
    grid-column: 1/3;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  #inv-display li {
    width: 200px;
  }
  
  #product-detail-grid {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #product-detail-grid #product-detail-details {
    grid-column: 2/3;
  }
  #product-detail-grid #product-detail-details h3 {
    padding-left: 20px;
  }
  #product-detail-grid #product-detail-details #product-description {
    padding-left: 20px;
  }
  
  .form {
    margin-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

#management-list {
  grid-column: 1;
  list-style: none;
  font-size: 1.5rem;
}

#management-list li {
  margin-bottom: 20px;
}

#messages {
  color: red;
  grid-column: 1;
  font-style: italic;
}

.notice {
  grid-column: 1;
  font-style: italic;
  color: red;
}
@media screen and (min-width: 450px) and (max-width: 700px) {
  
  #inv-display {
    /* margin-top: 100px; */
    /* margin-left: 0px; */
    grid-column: 1/3;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    
  }
  #inv-display li {
    width: 200px;
  }

  .form {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}