<h1><%- title %></h1>

<p><%- messages() %></p> 

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <ul id="management-list">
<li><a href="/inv/add-classification">Add Classification</a></li>
<li><a href="/inv/add-inventory">Add Inventory</a></li>
</ul>
<div id="inv-management-div">
<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items belonging to the classification.</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>